# app
NODE_ENV=development
PORT=3000
APP_NAME=sns
FRONT_END_URL='http://127.0.0.1:5500'

# database
DATABASE_TYPE=mysql
DATABASE_URL=
DATABASE_HOST=sns_database
FORWARD_DB_PORT=3307
DATABASE_PORT=3306
DATABASE_USERNAME=docker
DATABASE_PASSWORD=docker
DATABASE_NAME=sns_db
DATABASE_SYNCHRONIZE=true

# auth
AUTH_JWT_SECRET=a1B2c3D4e5F6g7H8i9J0k1L2m3N4o5P6
AUTH_JWT_TOKEN_EXPIRES_IN='1d'
AUTH_REFRESH_SECRET=a1B2c3D4e5F6g7K8i9L0m1L2m3N4o5P6
AUTH_REFRESH_TOKEN_EXPIRES_IN='30d'

# mailer
MAILER_HOST=
MAILER_PORT=
MAILER_USER=
MAILER_PASSWORD=
MAILER_IGNORE_TLS=false
MAILER_SECURE=false
MAILER_REQUIRE_TLS=false
MAILER_DEFAULT_EMAIL=noreply@example.com
MAILER_DEFAULT_NAME=
MAILER_CLIENT_PORT=1080